.grid-container {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 93px 75px auto 176px;
    gap: 0px 0px;
    grid-template-areas:
      "Header Header Header Header"
      "subheader subheader subheader subheader"
      "contents contents contents contents"
      "footer footer footer footer";
  }
  
  .Header {
      background-image: url(bg.png);
    display: grid;
    grid-template-columns: 20% 1fr 1.2fr 20%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . ."
      ". tittle navigator ."
      ". . . .";
    grid-area: Header;
  }
  .tittle { grid-area: tittle; }
  .navigator { grid-area: navigator; }
  
  .subheader { grid-area: subheader; 
    background-color: #55a2a6;
    color: antiquewhite;
}
  
  .contents {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". content ."
      ". content .";
    grid-area: contents;
  }
  
  .content {
    font-size:small;
    padding-top: 20px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1.4fr min-content;
    grid-template-rows: auto auto auto;
    gap: 10px 20px;
    grid-template-areas:
      "Content1 img1"
      "menu img2"
      "content2 img3";
    grid-area: content;
  }
  
  .Content1 { grid-area: Content1;

    font-size:small;}
  
  .menu { grid-area: menu; }
  
  .content2 { grid-area: content2; }
  
  .img1 { grid-area: img1; 
    height: 100%;
    border: 2px solid burlywood;}
  
  .img2 { grid-area: img2;
    border: 2px solid burlywood; }
  
  .img3 { grid-area: img3;
    border: 2px solid burlywood; }
  
  .footer {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr 20%;
    grid-template-rows: 1fr 10%;
    gap: 0px 0px;
    grid-template-areas:
      ". aboutus getsocial newsletter ."
      ". copyright . designby .";
    grid-area: footer;
    background-color : #151515;
  }
  
  .aboutus { grid-area: aboutus; }
  
  .getsocial { grid-area: getsocial; }
  
  .newsletter { grid-area: newsletter; }
  
  .copyright { grid-area: copyright; }
  
  .designby { grid-area: designby; }

  input {
    border: none;
    color: antiquewhite;
    background-color: #333333;
    outline-color: #333333;
}

a {
    font-size: small;
    color: #444444;
    text-decoration: none;
    padding-right: 10px;
    display: inline-flex;
  }
  
.footer h3{
    color: antiquewhite;
}

.footer p{
    color: antiquewhite;
}

.content img {
    width: 200px;
}

b {
    font-family: sans-serif;
}

.menu span{
    padding: 10px;
    font-size: smaller;
    text-align: left;
}