#header {
   background-image: url(bg.png);
   height: 93px;
}
#subheader {
    height: 75px;
    background-color: rgb(6, 117, 117);
}
#slider {
    height: auto;
}
.col-11-12{
    margin: auto;
    margin-right: 0%;
}


.col-1{
    background-color: #FFFF00;
}

#nav {
    padding: 20px;
}

.row {
    margin-left: 10px;
}

#footer {
    height: 176px;
    background-color: rgb(66, 52, 52);
}

#content {
    width: 980px;
    margin: auto;
    border: 5px solid #FFFF00;
    padding: 10px;
}

.card {
    margin-left: 25px;

}

.card-text{
    width: 200px;
}

#subtag {
    text-align: center;
    padding: 25px;
}

img{
    width: 100%;
    object-fit: cover;
}